<a href="https://colab.research.google.com/github/Sorinlov/Data_Manipulate/blob/master/python_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python pandas 
## all of them

In [0]:
import pandas as pd

Series

两个属性 value 和 index
series.value 返回 array
series.index 返回 类数组对象

In [10]:
data1 = pd.Series([0.25, 0.5, 0.75, 1.0])
data2 = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a','b','c','d'])
data3 = pd.Series([0.25, 0.5, 0.75, 1.0], index = [2,5,3,7])
population_dict = {'California': 38332521, 'Texas': 26448193, 'New York': 19651127,
                  'Florida': 19552860, 'Illinois': 12882135}
population = pd.Series(population_dict) #Series 有序的字典 
#python数据分析中说默认按index排序 但此处按字典原顺序排序
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [11]:
data3[5] #单个索引只能按index索引
data3[1:4] #切片索引可以按顺序序列索引
population['California': 'Illinois'] #左闭右闭

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

dataframe
属性：index columns value(返回array数组)

In [24]:
import numpy as np
#通过字典列表创建
df1 = pd.DataFrame([{'a':i, 'b':i*2} for i in range(3)])
#通过numpy二维数组创建
df2 = pd.DataFrame(np.random.rand(3,2),
                  columns = ['foo', 'bar'],
                  index = ['a', 'b','c'])


area_dict = {'California': 423967, 'Texas': 695622, 'New York': 141297,
                  'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict) # 通过由Series对象构成的字典创建
area
df2

        foo       bar
a  0.717473  0.455707
b  0.931624  0.547541
c  0.655921  0.554854

In [0]:
states = pd.DataFrame({'population': population, 'area': area}) #Series 能直接转换为字典

In [17]:
states.index
states.columns

Index(['population', 'area'], dtype='object')

In [26]:
states['population']
states.population #属性索引 若列名不是纯字符串或与dataframe方法同名 则不能用属性索引

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [27]:
states.values

array([[38332521,   423967],
       [26448193,   695622],
       [19651127,   141297],
       [19552860,   170312],
       [12882135,   149995]])

In [28]:
states.T

            California     Texas  New York   Florida  Illinois
population    38332521  26448193  19651127  19552860  12882135
area            423967    695622    141297    170312    149995

In [29]:
states.values[0]

array([38332521,   423967])

In [31]:
states.iloc[:3, :2]

            population    area
California    38332521  423967
Texas         26448193  695622
New York      19651127  141297

In [34]:
states.loc[:'Illinois', 'population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [37]:
states.ix[:3, :'population']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

            population
California    38332521
Texas         26448193
New York      19651127